Repository ctc-oss/fapolicy-analyzer, pull requests merged in 2022-09, with the labels that each got.

#633 Exclude tests from wheel
  setup.py
Labels: Python, rpm, build

#629 Preserve profiler config
  fapolicy_analyzer/glade/profiler_page.glade
  fapolicy_analyzer/tests/reducers/test_profiler_reducer.py
  fapolicy_analyzer/tests/test_actions.py
  fapolicy_analyzer/tests/test_profiler_page.py
  fapolicy_analyzer/ui/actions.py
  fapolicy_analyzer/ui/profiler_page.py
  fapolicy_analyzer/ui/reducers/profiler_reducer.py
  fapolicy_analyzer/ui/reducers/system_reducer.py
Labels: ui, Profiler

#648 Fix revisiting analysis from profiler
  fapolicy_analyzer/tests/reducers/test_profiler_reducer.py
  fapolicy_analyzer/ui/actions.py
  fapolicy_analyzer/ui/profiler_page.py
  fapolicy_analyzer/ui/reducers/profiler_reducer.py
Labels: ui, analysis

#650 Multiple gid in analysis
  crates/pyo3/src/analysis.rs
  examples/analyze_log.py
  tests/data/events2.log
Labels: analysis
