Repository ctc-oss/fapolicy-analyzer, pull requests merged in 2022-12, with the labels that each got.

#665 Filter by time range on Analysis view
  fapolicy_analyzer/glade/policy_rules_admin_page.glade
  fapolicy_analyzer/glade/time_select_dialog.glade
  fapolicy_analyzer/tests/test_policy_rules_admin_page.py
  fapolicy_analyzer/tests/test_time_select_dialog.py
  fapolicy_analyzer/ui/policy_rules_admin_page.py
  fapolicy_analyzer/ui/searchable_list.py
  fapolicy_analyzer/ui/time_select_dialog.py
Labels: enhancement, analysis

#651 Include User Guide under Help menu
  .copr/Makefile
  .github/workflows/python.yml
  .github/workflows/rpm.yml
  Containerfile
  Makefile
  Pipfile
  Pipfile.lock
  fapolicy-analyzer.spec
  fapolicy_analyzer/glade/main_window.glade
  fapolicy_analyzer/locale/es/LC_MESSAGES/fapolicy_analyzer.po
  fapolicy_analyzer/locale/fapolicy_analyzer.pot
  fapolicy_analyzer/tests/test_help_browser.py
  fapolicy_analyzer/tests/test_main_window.py
  fapolicy_analyzer/ui/help_browser.py
  fapolicy_analyzer/ui/main_window.py
  help/.gitignore
  help/__init__.py
  help/__main__.py
  help/es/es.po
  help/unavailable.html
  scripts/srpm/Containerfile.el
  scripts/srpm/fapolicy-analyzer.spec
  scripts/srpm/lock2spec.py
  setup.py
Labels: documentation, feedback0

#667 Additional profiler bindings
  crates/pyo3/src/profiler.rs
  crates/tools/fapolicy_profiler.rs
  examples/policy_profiler.py
Labels: enhancement, Profiler

#656 Fix profiler path validation
  Makefile
  fapolicy_analyzer/locale/fapolicy_analyzer.pot
  fapolicy_analyzer/tests/test_fapd_manager.py
  fapolicy_analyzer/tests/test_faprofiler.py
  fapolicy_analyzer/ui/faprofiler.py
  fapolicy_analyzer/ui/strings.py
Labels: bug, Profiler

#678 Analysis performance
  crates/analyzer/src/events/analysis.rs
Labels: analysis, performance

#677 Copr workflow
  .copr/Makefile
  .github/workflows/copr.yml
  .github/workflows/rpm.yml
  scripts/srpm/fapolicy-analyzer.spec
Labels: CI, Copr

#681 More Coverity
  .github/workflows/coverity.yml
  README.md
Labels: CI

#698 Rust vendoring fix
  scripts/srpm/lock2spec.py
  scripts/srpm/vendor-rs.sh
Labels: bug, rpm, build

#691 Trust callbacks
  crates/pyo3/Cargo.toml
  crates/pyo3/src/check.rs
  crates/pyo3/src/lib.rs
  crates/pyo3/src/system.rs
  crates/pyo3/src/trust.rs
  examples/async_trust.py
Labels: enhancement, trust, performance

#693 Fix WebKit crash on exit
  fapolicy_analyzer/ui/help_browser.py
  fapolicy_analyzer/ui/main_window.py
Labels: bug, documentation, ui

#702 Update analysis object color scheme
  fapolicy_analyzer/tests/test_object_list.py
  fapolicy_analyzer/ui/object_list.py
Labels: analysis

#706 Ensure spec version and git tag match
  .github/workflows/rpm.yml
Labels: rpm, CI

#708 Add RC support to RPM build
  fapolicy-analyzer.spec
  scripts/srpm/fapolicy-analyzer.spec
Labels: rpm, release, build

#710 Build updates
  .github/workflows/common.yml
  .github/workflows/python.yml
  .github/workflows/rpm.yml
  .github/workflows/rust.yml
  .github/workflows/tools.yml
  fapolicy-analyzer.spec
  scripts/srpm/fapolicy-analyzer.spec
Labels: rpm, CI

#700 Updated rules validation to clear validation notifications
  fapolicy_analyzer/tests/reducers/test_notification_reducer.py
  fapolicy_analyzer/tests/rules/test_rules_admin_page.py
  fapolicy_analyzer/tests/test_notification.py
  fapolicy_analyzer/ui/actions.py
  fapolicy_analyzer/ui/notification.py
  fapolicy_analyzer/ui/rules/rules_admin_page.py
Labels: bug, rules, ui, deployment

#683 Ensure proper artifacts for Copr builds
  .github/rpm-matrix.json
  .github/workflows/copr.yml
  .github/workflows/rpm.yml
  fapolicy-analyzer.spec
  scripts/srpm/fapolicy-analyzer.spec
Labels: rpm, CI, build, Copr

#718 RPM build updates
  .github/workflows/rpm.yml
  .github/workflows/tools.yml
  Cargo.lock
  Cargo.toml
  crates/pyo3/src/check.rs
  crates/tools/Cargo.toml
  crates/tools/src/fapolicy_profiler.rs
  crates/tools/src/rule_check.rs
  crates/tools/src/trust_db_util.rs
  data/fapolicy-analyzer.8
  data/fapolicy-analyzer.desktop
  examples/rule_builder.rs
  fapolicy-analyzer.spec
  help/__init__.py
  scripts/srpm/fapolicy-analyzer.spec
Labels: rpm, build
